.pagination{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.pagination  li{
  display: inline;
  padding-top: 2px;
  font-size: var(--heading4);
}

.pagination li a {
  width: 100%;
  color: white;
  display: block;
  text-align: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s;
  margin: 20px 10px;

  /* border: 1px solid var(--brown2); */
}

/* 當前頁碼 */
.pagination li a.active {
  background-color: none;
  color: var(--brown3);
}

.pagination li:hover {
  border-radius: 5px;
  /* background-color: var(--brown2); */
}

.arrow {
  border: solid var(--main-brown);
  border-radius: 3px;
  border-width: 0px 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}
.page{
  display: flex;
  /* align-self: center; */
  line-height: 26px;
  width: 26px;
  height: 26px;
  font-size: var(--heading3);
  background-color: none;
}

.active{
  color: var(--brown1);
  /* background-color: var(--brown1); */
}

.disabled {
  pointer-events: none;
}
