.forumPagenumber{
    margin-left: 500px ;
}


.first-table {
    margin-top: 0px;
    margin-left: 50px;
    width: 1243px;
    
}
.nav-link{
    margin-top: 50px;
    margin-left: 50px;
}

.tn-warning{
    border: 50%;
}





.artCat{
    border: 10px;
}


.allartPage{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.media-body{
    margin-top: auto;
    margin-bottom: auto;
    color: #472929;
    background-color: #D6C5C5;
    padding: 20px ;
    margin: 10px 10px 5px;
    border-radius: 15px;
}

.media-bodytwo{
    margin-top: auto;
    margin-bottom: auto;
    color: #472929;
    background-color: #F4EFEF;
    padding: 20px ;
    width: 1000px;
    margin: 10px 10px 5px;
    border-radius: 15px;
}

.table-striped>tbody>tr:nth-child(odd) {
    background-color: #F4EFEF;
}