/* 卡片排列方式 */
.buttonPosition{
    text-align: end;
    margin-bottom: 10px;
}
.addButton{
    font-size: var(--heading4);
    padding: 10px 20px;
    justify-content: end;
    border: none;
    border-radius: 15px;
    color: var(--white);
    background-color: var(--green2);
    font-weight: bold;
}
.addButton:hover{
    color: var(--green1);
    background-color: var(--green3);
    Cursor:pointer;
}
.addButton1{
    display: none;
}
.cardFlex {
    display: flex;
    /* overflow: scroll; */
    flex-wrap: wrap;
}
.cardFlex > div{
    width:20%;
}

.cardFlex::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
.arrangement{
    display: flex;
}
/* 設計師資訊 */
.designer{
    white-space:nowrap;
    display: flex;
    align-items: center;
    font-size: var(--heading4);
    margin: 20px;
  }
  .designer img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .name{
    font-size: var(--heading3);
    color: var(--green2);
  }
  .info{
    color: var(--brown1);
  }
  .info p{
    margin-right: 20px;
  }
  .displayFlex{
    display: flex;
  }
  /* ——————————————————————————————————————— */
@media screen and (max-width:1024px){
    .cardFlex > div{
        width:25%;
    }
    
}
@media screen and (max-width:780px) {
    .cardFlex > div{
        width:33%;
    }
}
@media screen and (max-width:441px){
    .cardFlex > div{
        width:50%;
    }
    .middleText {
        font-size: var(--heading6);
    }
    .addButton{
        display: none;
    }
    .addButton1{
        font-size: var(--heading3);
        width: 55px;
        height: 55px;
        border: none;
        border-radius: 99px;
        color: var(--white);
        background-color: var(--green2);
        font-weight: bold;
        display: block;
        position: fixed;
        bottom: 100px;
        border-radius: 100px;
        right: 15px;
        z-index: 9;
        box-shadow: 0px 0px 8px var(--green2);
    }
    .arrangement{
        display: block;
    }
}