/* 卡片排列方式 */
.buttonPosition{
    text-align: end;
    margin-bottom: 10px;
}
.addButton{
    font-size: var(--heading4);
    padding: 10px 20px;
    justify-content: end;
    border: none;
    border-radius: 15px;
    color: var(--white);
    background-color: var(--brown2);
    font-weight: bold;
}
.addButton:hover{
    color: var(--brown2);
    background-color: var(--brown3);
    Cursor:pointer;
}
.cardFlex {
    display: flex;
    /* overflow: scroll; */
    flex-wrap: wrap;
}
.cardFlex > div{
    width:20%;
}

.cardFlex::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
.arrangement{
    display: flex;
}
@media screen and (max-width:1024px){
    .cardFlex > div{
        width:25%;
    }
    
}
@media screen and (max-width:780px) {
    .cardFlex > div{
        width:33%;
    }
}
@media screen and (max-width:441px){
    .cardFlex > div{
        width:50%;
    }
    .middleText {
        font-size: var(--heading6);
    }
}