.article--context {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.article--context__detail {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 30px;
    grid-column: 1 / span 3;
    grid-row: 1;
}

.article--context__trending-related {
    width: 100%;
    grid-column: 3 /4;
    grid-row: 1;
}

.article--context__detail p {
    width: 60%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.article--context__detail img {
    margin: 20px 0;
    width: 50%;
    height: 50%;
    border-radius: 2%;
}

@media (min-width: 540px) {
}
