.banner {
  margin-top: 8rem;
  position: relative;
  height: 50rem;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

.banner--uploadimage {
  width: 100%;
  max-height: 50rem;
  object-fit: contain;
}

.banner--upload {
  position: absolute;
  top: 85%;
  left: 85%;
}

.banner--upload input[type='file'] {
  display: none;
}
.banner--upload input[type='submit'] {
  color: var(--brown1);
  font-size: 2rem;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 1rem;
  display: inline;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  transition: 0.5s;
}

.custom-file-upload {
  color: var(--brown1);
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 1rem;
  display: inline;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  transition: 0.5s;
}

.custom-file-upload:hover {
  background-color: #eee;
  border: 1px solid #eee;
}

.banner--upload input[type='submit']:hover {
  background-color: #eee;
  border: 1px solid #eee;
}

.banner--upload input[type='button'] {
  color: var(--brown1);
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 1rem;
  display: inline;
  padding: 0.5rem 1.1rem;
  cursor: pointer;
  transition: 0.5s;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.banner--upload input[type='button']:hover {
  background-color: #eee;
  border: 1px solid #eee;
}

.banner--upload__cancel-submit {
  display: flex;
  flex-direction: column;
  transform: translateY(-7rem) translateX(4rem);
  transition: 1s;
}
