.personal-info--card__display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3rem;
}

.personal-info--card__display h2 {
  font-size: 3rem;
}

.personal-info--card__display p {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.personal-info--card__display-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.myproductbtn {
  font-size: 2rem;
}
