.slide {
    /* position: absolute; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* transition: transform 1s;
    overflow: hidden;
    width: 50%; */
}

.slider--image {
    margin-top: 20px;
    object-fit: contain;
    margin: auto;
    display: block;
    width: 40%;
    border-radius: 2%;
    transition: 0.8s;
    margin-top: 20px;
    /* background: linear-gradient(0deg, rgba(255, 210, 71, 0.59), rgba(255, 210, 71, 0.59)); */
}

/* .slide img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(255, 210, 71, 0.59), rgba(255, 210, 71, 0.59));
} */

.slide img:hover {
    transform: translateY(-20px);
}
