/* 原本的slider css */
.slider {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.slider--btn__left {
  position: absolute;
  font-size: 7rem;
  top: 50%;
  right: 90%;
  z-index: 10;
  cursor: pointer;
  color: black;
  transition: 0.5s;
}

.slider--btn__right {
  position: absolute;
  font-size: 7rem;
  top: 50%;
  left: 90%;
  z-index: 10;
  cursor: pointer;
  color: black;
  transition: 0.5s;
}

.slider--btn__left:hover,
.slider--btn__right:hover {
  color: #ccc;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  width: 100%;
  transition-duration: 1s;
  transform: scale(1.05);
}
