.slider {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* max-wisdth: 100rem; */
    /* margin: 0 auto; */
    /* overflow: hidden; */
}

.slider--btn__left {
    position: absolute;
    object-fit: contain;
    display: block;
    font-size: 50px;
    top: 50%;
    right: 80%;
    z-index: 10;
    cursor: pointer;
}

.slider--btn__right {
    position: absolute;
    display: block;
    font-size: 50px;
    top: 50%;
    left: 80%;
    z-index: 10;
    cursor: pointer;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.05);
}
