.carousel {
    width: 100%;
    height: 55px;
    border-radius: 15px;
    box-shadow: 0 0 5px var(--gray3) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brown2);
}

.padding5px {
    color: var(--yellow1);
    margin-right: 20px;
}

.padding5px {
    padding: 0px 5px;
}

.middleText {
    font-size: var(--heading5);
}

.cardFlex {
    display: flex;
    overflow: scroll;
}
.cardFlex::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }