* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  body {
    font-family: sans-serif;
    background-color: #eeeeee;
    margin: 2rem;
  }
  
  .fix-new {
    font-size: 10px !important; /*we can easly change credit card size*/
  }
  
  .container {
    flex-direction: unset;
    display: flex;
  }
  
  @media screen and (max-width: 840px) {
    .container {
      flex-direction: column-reverse;
    }
    .form-box {
      margin-right: 0rem;
      margin-top: 1rem;
    }
  }
  
  .card-new {
    background: url(./any_pattern.jpg) !important;
  }
  
  .form-box {
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 5rem 5rem;
    margin-right: 1rem;
  }
  
  .input-text {
    border: 1px solid #dddddd;
    background: #f8f8f8;
    padding: 0 1rem;
    line-height: 2.5rem;
    font-size: 1.1rem;
    border-radius: 0.1rem;
    width: 100%;
    margin: 1rem 0;
    color: #666666;
  }
  
  .btn {
    padding: 1rem 1rem;
    border: 0;
    background: #1496d3;
    color: #ffffff;
    width: 100%;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  
  .semi {
    width: 50%;
  }
  
  .flex-wrapper {
    display: flex;
  }
  
  .flex-wrapper div {
    margin-right: 2rem;
  }
  
  .error {
    background-color: rgb(247, 144, 144);
  }