.author-card {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8rem; */
  /* margin: 0 auto; */
  /* margin-left: 19rem; */
  padding: 8rem 10rem;
}

.author-card--loop {
  /* display: flext; */
  /* margin: 8 30rem; */
}
