.author-pic {
  position: relative;
  margin-bottom: 5rem;
}

.author-banner {
  height: 50rem;
}

.author-banner img {
  width: 100%;
  max-height: 50rem;
  object-fit: cover;
}
.author-logo {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.author-logo img {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid black;
}
