.author-info {
  display: flex;
  margin-top: 16rem;
  flex-direction: column;
  align-items: center;
}
.author-info h2 {
  border-bottom: 1px solid #ccc;
  width: 50%;
  text-align: center;
  font-size: 2.3rem;
  padding-bottom: 2rem;
  font-weight: 400;
}

.author-info p {
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
  width: 50%;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .author-info {
    margin-top: 16rem;
  }
}

@media (max-width: 992px) {
  .author-info {
    margin-top: 13rem;
  }
}

@media (max-width: 768px) {
  .author-info {
    margin-top: 10rem;
  }
}

@media (max-width: 576px) {
  .author-info {
    margin-top: 8rem;
  }
}

@media (max-width: 480px) {
  .author-info {
    margin-top: 5rem;
  }
}

@media (max-width: 375px) {
  .author-info {
    margin-top: 8rem;
  }
}
