/* 共通項目 */
* {
    padding: 0;
    margin: 0;
}
:root {
    /* 色票 */
    --white: #ffffff;
    --brown1: #472929;
    --brown2: #795252;
    --brown3: #d6c5c5;
    --brown4: #f4efef;
    --gray1: #333333;
    --gray2: #4f4f4f;
    --gray3: #bdbdbd;
    --gray4: #e0e0e0;
    --yellow1: #ffd247;
    --yellow2: #ffebaf;
    --green1: #355f1c;
    --green2: #72925f;
    --green3: #b8d1a9;
    --red: #b72020;
    /* 字體大小 */
    --heading1: 56px;
    --heading2: 48px;
    --heading3: 32px;
    --heading4: 20px;
    --heading5: 16px;
    --heading6: 12px;
    --heading7: 10px;
    --heading8: 8px;
    /* 圓角 */
    --desk-border-radius: 15px;
    /* 網頁版border寬度 */
    --border: 2px solid var(--brown2);
    --pageBorder: 40px;
    --holdpadding: 50px;
}

* {
    margin: 0px;
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
hr {
    border: 1px solid var(--brown3);
}

body {
    /* 黑體字 */
    font-family: -apple-system, BlinkMacSystemFont;
    /* 內文細黑體 */
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
}
nav,
hgroup,
section {
    margin: 0px var(--holdpadding);
}
nav {
    z-index: 1;
    padding-top: 10px;
}

@media screen and (max-width: 1024px) {
    :root {
        --holdpadding: 20px;
    }
}

@media screen and (max-width: 441px) {
    :root {
        --holdpadding: 10px;
    }
}
