.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ============================= */

header{
  width: 1243px;
  height: 60px;
  margin: 10px auto;

}

.logo{
  float: left;
  width: 80px;
  padding: 5px 10px;
}

.navLeft{
  float: left;
  padding: 10px 0px;
  font-size: 24px;
}


.navRight{
  float: right;
  padding: 15px 25px;
}

nav a{
  font-weight: 700;
  text-decoration: none;
  color: #795252;
}

main{
  width: 1243px;
  height: 737px;
  margin: 10px auto;
  padding: 20px;
  border: 2px solid #795252 ;
  border-radius: 15px;
}

h1{
  text-align: center;
  color: #795252;
}