.article--header {
  margin: auto;
  max-width: 108rem;
}

.article--header__title {
  color: var(--brown2);
  text-align: center;
  width: 100%;
  padding: 5rem;
  font-size: 1.4rem;
  margin: 6rem 0;
  border: 0.3rem solid var(--brown1);
}

.article--header__image img {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  margin: auto;
  border-radius: 0.5rem;
}

@media (max-width: 1076px) {
  .article--header__title {
    width: 90%;
    margin: 6rem auto;
  }
}

@media (max-width: 768px) {
  .article--header__title {
    font-size: 1.2rem;
  }
}
