.chat-area {
    max-width: 108rem;
    margin: auto;
    margin-top: 4rem;
}

@media (max-width: 1076px) {
    .chat-area {
        width: 100%;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 480px) {
}
