.trending-title {
    margin-top: 6rem;
    margin-bottom: -2rem;
    margin-left: 3rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 44pxs;
}

@media (max-width: 1200px) {
    .trending-title {
        margin-top: 6rem;
        margin-bottom: -2rem;
        margin-left: 3rem;
        font-size: 3.2rem;
        font-weight: 700;
    }
}

@media (max-width: 976px) {
    .trending-title {
        margin-bottom: 2rem;
        font-size: 3.2rem;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .trending-title {
        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: 700;
    }
}

@media (max-width: 576px) {
    .trending-title {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 700;
    }
}

/* @media (max-width: 375px) {
    .trending-title {
        margin-bottom: 3rem;
        margin-left: 1.5rem;
        font-size: 5rem;
        font-weight: 700;
    }
} */
