.trending-article {
    display: flex;
    margin: 80px;
    transition: 0.8s;
}

.trending-article:hover {
    transform: translateY(-20px);
}

.trending-article--context {
    display: flex;
    flex-direction: column;
}

.trending-article img {
    width: 30%;
    margin-right: 40px;
    transition: 1s;
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); */
    object-fit: contain;
    display: block;
    width: 30%;
    border-radius: 2%;
}

.trending-article img:hover {
    transform: scale(1.08);
}

.trending-article--context h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 20px;
}

.trending-article--context p {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
    .trending-article {
        display: flex;
        flex-direction: column;
        margin: 0;
        transition: 0.8s;
        width: 100%;
    }

    .trending-article:hover {
        transform: translateY(-1rem);
    }

    .trending-article--context {
        display: flex;
        flex-direction: row;
    }

    .trending-article img {
        width: 90%;
        height: 90%;
        transition: 1s;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
        border-radius: 2%;
        margin: auto;
    }

    .trending-article img:hover {
        transform: scale(1.02);
    }

    .trending-article--context h2 {
        margin: auto;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .trending-article--context p {
        display: none;
        font-size: 0.5rem;
        font-weight: 300;
        line-height: 1.5rem;
    }
}

@media (max-width: 576px) {
    /* .trending-article {
        display: flex;
        flex-direction: column;
        margin: 0;
        transition: 0.8s;
        width: 100%;
    }

    .trending-article:hover {
        transform: translateY(-1rem);
    }

    .trending-article--context {
        display: flex;
        flex-direction: row;
    }

    .trending-article img {
        width: 90%;
        height: 90%;
        transition: 1s;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
        border-radius: 2%;
        margin: auto;
    }

    .trending-article img:hover {
        transform: scale(1.02);
    }

    .trending-article--context h2 {
        margin: auto;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .trending-article--context p {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.5rem;
    } */
}

@media (max-width: 480px) {
    /* .trending-article {
        display: flex;
        flex-direction: column;
        margin: 0;
        transition: 0.8s;
        width: 100%;
    }

    .trending-article:hover {
        transform: translateY(-1rem);
    }

    .trending-article--context {
        display: flex;
        flex-direction: row;
    }

    .trending-article img {
        width: 90%;
        height: 90%;
        transition: 1s;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
        border-radius: 2%;
        margin: auto;
    }

    .trending-article img:hover {
        transform: scale(1.02);
    }

    .trending-article--context h2 {
        margin: auto;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .trending-article--context p {
        display: none;
        font-size: 0.5rem;
        font-weight: 300;
        line-height: 1.5rem;
    } */
}
