.trending-article {
  display: flex;
  margin: 3rem 0rem;
  height: 25rem;
  transition: 0.8s;
  color: var(--brown2);
  border: 0.1rem solid #eee;
  box-shadow: 0.1rem 0.1rem 0.3rem #eee;
  /* align-items: center; */
}
.trending-article:hover {
  transform: translateY(-1rem);
}
.trending-article--context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2.5rem;
}
.trending-article img {
  width: 30%;
  margin-right: 4rem;
  transition: 1s;
  object-fit: contain;
  border-radius: 1.5rem;
  margin-left: 2rem;
}
.trending-article img:hover {
  transform: scale(1.05);
}
/* transition 效果出不來 */
.trending-article--context h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin-bottom: 1rem;
  /* width: 80%; */
  transition: 1s;
}
.trending-article--context__title h1 {
  font-size: 2rem;
}
.active-title {
  transition: 1s;
  color: white;
}
.trending-article--context p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  width: 100%;
}
.trending-article--context__render-article {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
/* 1200 px 以下 */
@media (max-width: 1200px) {
  .trending-article {
    display: flex;
    margin: 3rem 5rem;
    transition: 0.8s;
  }

  .trending-article--context__title h1 {
    font-size: 1.8rem;
  }

  .trending-article--context {
    display: flex;
    flex-direction: column;
  }
  .trending-article img {
    width: 40%;
    margin-right: 4rem;
    object-fit: contain;
    display: block;
    border-radius: 2%;
  }
}
/* 992 px 以下 */
@media (max-width: 992px) {
  .trending-article {
    display: flex;
    width: 100%;
    transition: 0.8s;
    margin: 2rem auto;
  }

  .trending-article:hover {
    transform: translateY(-1.5rem);
  }

  .trending-article img {
    width: 40%;
    object-fit: contain;
    border-radius: 2%;
  }
  .trending-article img:hover {
    transform: scale(1.06);
  }
  .trending-article--context h2 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 4.4rem;
    margin-bottom: 2rem;
    width: 80%;
  }
  .trending-article--context p {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .trending-article img {
    width: 55%;
    transition: 1s;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
    border-radius: 2%;
    margin: auto;
    margin-left: 2rem;
  }
  .trending-article img:hover {
    transform: scale(1.02);
  }

  .trending-article--context h2 {
    line-height: 2.8rem;
    width: 100%;
  }

  .trending-article--context p {
    display: none;
  }
}

@media (max-width: 576px) {
  .trending-article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .trending-article--context {
    margin: 0;
    padding: 0;
  }

  .trending-article img {
    width: 50%;
    margin: auto;
  }

  .trending-article--context h2 {
    line-height: 1.6rem;
    text-align: center;
  }

  .trending-article--context__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

@media (max-width: 480px) {
  .trending-article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .trending-article--context {
    margin: 0;
    padding: 0;
  }

  .trending-article img {
    width: 90%;
  }

  .trending-article--context h2 {
    display: none;
  }
}

@media (max-width: 375px) {
  .trending-article img {
    width: 90%;
  }
}
