.ProductPage{
    margin: 50px 150px;
    --borderRadius:15px;
    --bigPictureSize:550px;
    --smallPictureSize:122px;
}
.ProductPage h3{
    font-size: var(heading3);
    color: var(--brown2);
}
.displayFlex{
    display: flex;
}
.bigImg{
    width: var(--bigPictureSize);
    height: var(--bigPictureSize);
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid var(--brown2);
    border-radius: var(--borderRadius);
}
.smallImg a{
    display: block;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    width: var(--smallPictureSize);
    height: var(--smallPictureSize);
    margin-top: 20px;
    border: 2px solid var(--brown2);
    border-radius: var(--borderRadius);
}
.displayFlex > p {
    font-size: var(--heading5);
}

@media screen and (max-width:1024px){
   
}
@media screen and (max-width:780px) {
    
}
@media screen and (max-width:441px){
  
}