/* 上方nav */
.navLeft {
  padding: 0px 0px 10px 20px;
  font-size: 24px;
  display: flex;
  position: relative;
  transition: .5s 0.2s;
}

.navLeft a{
  transition: .3s 0.1s;
}

.unactive{
  padding: 0px 50px 0px 0px;
  margin: 15px;
  font-weight: 700;
  text-decoration: none;
  color: var(--brown3);
}
.active{
  padding: 0px 50px 0px 0px;
  margin: 15px;
  font-weight: 700;
  font-size: 28px;
  text-decoration: none;
  color: var(--brown2);
}

.navLeft a hr {
  width: 150px;
  border-top: 5px solid;
  position: absolute;
  left: -20px;
}

.navLeft a:hover {
  color: var(--brown2);
}

/* 內文 */
.main {
  margin: 10px auto 50px;
  padding: 0px 0px 50px 0px;
  width: 80%;
  height: 60vh;
  border-radius: var(--desk-border-radius);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  color: var(--brown2);
  font-weight: 700;
  /* display: flex; */
  /* flex-direction: column; */
}

.main img {
  width: 80px;
}

/* 大頭貼 姓名 登入狀態 會員稱號 */
.item1 {
  display: flex;
  flex-direction: column;
  float: left;
  border-radius: 15px 0px 0px 15px;
  margin: 10px 0px 0px 120px;
  padding: 60px ;
  width: 40%;
  height: 275px;
  /* text-align: center; */
  align-items: center;
  background-color: var(--brown2);
  color: white;
}

.item1 img{
  margin: 0px 0px 15px;
}

/* 基本資料 */
.item2 {
  border: var(--brown2) solid;
  border-radius: 0px 15px 15px 0px;
  margin: 10px 122px 0px 0px;
  padding: 5px 0px 7px 100px;
  float: right;
  width: 40%;
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}
.clear{ clear:both; }

.item2 label {
  padding: 10px;
  margin: 5px;

}

.h1 {
  text-align: center;
  color: var(--brown2);
  padding: 30px;
}
