.cardContainer {
	padding: 10px;
	margin:10px ;
	border-radius: 15px;
	background-color: var(--write);
	box-shadow: 0 0 5px var(--gray3);

}

.cardSize {
	width: 242px;
	height: 400px;
	position: relative;
}
.cardSize img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

/* 點讚愛心 */
.like {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
}
/* 品項名稱 */
.cardContainer h2 {
	margin: 5px 0px;
	font-size: var(--heading5);
	color: var(--brown1);
	cursor: pointer;
}

/* 創作者 */
.cardContainer p {
	font-size: var(--heading5);
	color: var(--brown2);
	overflow: hidden;
	cursor: pointer;
}
.cardContainer > .cardSize {
	width: 100%;
	height: 100%;
}

/* 價格 */
.cardContainer h3 {
	font-size: var(--heading5);
	color: var(--red);
	cursor: pointer;
}

.price {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	align-items: flex-end;
}
.icons{
	color: var(--green2);
	margin-left: 15px;
	font-size: var(--heading4);
}
@media screen and (max-width:780px) {
    .cardContainer{
		margin: 5px;
		border-radius: 10px;
	}
	
}
@media screen and (max-width:441px){
	
	.cardContainer h3 {
		font-size: var(--heading6);
	}
}
@media screen and (max-width:320px){
	.cardContainer h2{
		font-size: var(--heading6);
	}
	.cardContainer p{
		font-size: var(--heading7);
	}
}
