.ql-totalstyle{
 border: 2px solid var(--brown3);
  border-radius: 15px 15px 0px 0px;
}
.ql-formats{
  border-radius: 0px 0px 15px 15px;
}
.text-editor {
  width: 1086px;
  margin: 0 auto;
  border-radius: 0px 0px 15px 15px;
}
.quill .ql-snow {
  min-height: 200px;
  border-radius: 0px 0px 15px 15px;
border: 2px solid var(--brown3);
}
