.tagbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.tagbar p {
    color: #795252;
    margin: 0;
    font-size: 2rem;
}

.tagbar--pill-btn {
}
