/* Header (Header.js) */
.header {
    width: 1243px;
    height: 60px;
    margin: 10px auto;
  }
  
  .logo {
    float: left;
    width: 80px;
    padding: 5px 10px;
  }
  
  .navLeft {
    float: left;
    padding: 10px 0px;
    font-size: 24px;
  }
  
  .navRight {
    float: right;
    padding: 15px 25px;
  }
  
  .nav a {
    font-weight: 700;
    text-decoration: none;
    color: var(--brown2);
  }

  .nav a:hover {
    color: var(--brown1);
  }
  
  