.selected-article--title {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44pxs;
}

.selected-article--layout {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}
