.selected-card {
    margin: 40px;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
}

.selected-card--title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.selected-card--title__rightbtn {
    font-size: 30px;
    display: block;
}

.selected-card h3 {
    font-size: 20px;
    align-items: stretch;
    margin-bottom: 10px;
}

.selected-card--context {
    display: flex;
    flex-direction: column;
}

.selected-card--context img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 3%;
}

.selected-card--context h4 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.selected-card--context h4:not(:last-child) {
    margin-bottom: 10px;
}
