/* 外框線 */
.main {
  margin: 20px auto;
  width: 80%;
  height: 70vh;
  border-radius: var(--desk-border-radius);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  color: var(--brown2);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 給較長的page使用 */
.auto {
  margin: auto;
  width: 80%;
  height: auto;
  border-radius: var(--desk-border-radius);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  color: var(--brown2);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  text-align: center;
  color: var(--brown2);
  padding: 30px;
}

.hr {
  width: 300px;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}

.form label {
  margin: 5px;
}

.form input {
  border-radius: 15px;
  border: 2px solid var(--brown3);
  color: var(--brown2);
  width: 250px;
  padding: 5px 15px;
}

.form input:focus {
  outline: none;
  border-color: var(--brown2);
}

.form input::placeholder {
  color: var(--brown3);
  font-size: var(--heading6);
}

.p {
  padding: 10px;
  font-size: var(--heading6);
}

.button {
  padding: 5px;
  margin: 25px;
  width: 209px;
  border-radius: 15px;
  border: 2px solid var(--brown2);
  background-color: var(--brown2);
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover{
  background-color: var(--brown1);
}

.passwordShow {
  position: relative;
}

.password {
  position: absolute;
  right: 13px;
  bottom: 23px;
  z-index: 2;
}

