.flex-large-two{
  text-align: center;
  background-color: rgb(204, 191, 180);
  padding: 12px 200px;
  margin: 30px 300px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 
button{
  background-color: #795252;
  border: none;
  color: white;
  padding: 5px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }



  
  input[type=submit] {
    width: 100%;
    background-color: #8f1844;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  


  