* {
  --table-block-size_s: 100px;
  --table-block-size_m: 150px;
  --table-block-size_l: 200px;
  --table-block-size_ll: 350px;
}
/* 表格-本體 */
table {
  vertical-align: top;
  border-collapse: collapse;
  text-align: center;
}
thead {
  height: 64px;
  background-color: var(--brown2);
  color: var(--white);
}
.blockPicture{
  word-break: break-all;
  height: 180px;
}
.blockNoPicture{
  word-break: break-all;
  height: 64px;
}
tr img {
  width: 160px;
  height: 160px;
}
tr:nth-child(2n) {
  background-color: var(--brown4);
}
/* 表格-固定尺寸 */
.blockSizeS {
  width: var(--table-block-size_s);
}
.blockSizeM {
  width: var(--table-block-size_m);
}
.blockSizeL {
  width: var(--table-block-size_l);
}
.blockSizeLL {
  width: var(--table-block-size_ll);
}
/* 表格-按鈕 */
.blockButton {
  width: 90px;
  height: 40px;
  color: var(--brown2);
  background-color: var(--yellow1);
  font-weight: bold;
  border: 0px;
  border-radius: 20px;
}
.blockButton:hover {
  color: var(--yellow1);
  background-color: var(--brown2);
}
.tableScroll{
  margin: 50px 0;
  width: 1090px;
  height: 500px;
  overflow-y:scroll;
}
/* 按鈕 */
.button {
    width: 90px;
    height: 40px;
    color: var(--white);
    background-color: var(--brown2);
    font-weight: bold;
    border: 0px;
    border-radius: var(--desk-border-radius);
}
/* 文字方塊 */
.block{
  display: flex;
}
.blockText{
  color: var(--brown2);
  margin: 20px;
  font-weight: bold;
}
.blockTextInput{
  margin: 20px;
  font-weight: bold;
}
.success{
  color: var(--green3);
}