.myproduct--banner {
    margin-top: 8rem;
}

.myproduct--banner img {
    display: block;
    margin: auto;
}

.myproduct--banner__word p {
    text-align: center;
    padding-top: 1.2rem;
    height: 5rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(-4rem);
    opacity: 0;
    transition: 1.5s;
}

.myproduct--banner:hover .myproduct--banner__word p {
    transform: translateY(-5rem);
    opacity: 1;
}
