.personal-info {
    width: 100%;
    display: flex;
    justify-content: center;
}
.personal-info--image {
}

.personal-info--image img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
}

.personal-info--card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3rem;
    width: 40%;
}

.personal-info--card h2 {
    font-size: 3rem;
}

.personal-info--card p {
    font-size: 1.6rem;
}
